#navMobile {
  background-color: #000000;
  color:#FF5733;
}

/* Estilos de la primera seccion*/

#imageMobil {
  width: 100%;
  background-image: url("../images/d.jpg");
  background-size: cover;
  height: 40em;
}
/*
#imageLaptop {
  width: 100%;
  background-image: url("../images/doubt.jpg");
  background-size: cover;
  height: 40em;
}
#imageLapto1 {
  width: 100%;
  background-image: url("../images/d.jpg");
  background-size: cover;
  height: 40em;
}
*/



/* termino de los estilos de la primera seccion*/

/* Estilos de la segunda seccion*/


#infomationMovie {
  width: 100%;
  background-image: url("../images/imageContenido2.jpg");
  background-size: cover;
  height: 45em;
  color: #fff;
}

#infomationMovie2 {
  width: 100%;
  background-image: url("../images/imageContenido1.jpg");
  background-size: cover;
  height: 40em;
  margin-top: 0;
}
#infomationMovie2 {
  width: 100%;
  background-image: url("../images/imageContenido1.jpg");
  background-size: cover;
  height: 40em;
  margin-top: 0;
}
/* termino de los estilos de la segunda seccion*/