/* estilos del nav*/  
.nav-wrapper {
  background: linear-gradient(to bottom, rgb(235, 51, 14),#080809);
  color:#FF5733;
}

.user-avatar{
  width: 20%;
  margin: 3% 3% 0 3%;
}
/* Fin de los estilos del nava*/
/* Estilos de la primera seccion*/

#firstSection {
  background-color: #000;
  
}

#imageMobil {
  width: 100%;
  background-image: url("../images/d.jpg");
  background-size: cover;
  height: 40em;
}

.titleOne {
  font-family: 'Heebo', sans-serif;
  color: #fff;
  margin-top: 5em;
  text-align: center;
}

.titleTwo {
  font-family: 'Heebo', sans-serif;
  color: #fff;
  margin-top: 5em;
  text-align: center;
}

.iconStar {
  color:#FF5733;
}

.carousel {
margin-top: -7em;
}

.punctuation {
  color: #fff;
  text-align: center;
}



/* termino de los estilos de la primera seccion*/

/* Estilos de la segunda seccion*/

#secondSection{
  margin-top: -2em;
  
}

#infomationMovie {
  width: 100%;
  background-image: url("../images/imageContenido.jpg");
  background-size: cover;
  height: 40em;
  color: #fff;

}

#infomationMovie2 {
  width: 100%;
  background-image: url("../images/imageContenido2.jpg");
  background-size: cover;
  height: 40em;
  margin-top: 0;
}
#infomationMovie3 {
  width: 100%;
  background-image: url("../images/imageContenido2.jpg");
  background-size: cover;
  height: 40em;
  margin-top: 0;
}

#informationBox1 {
  width: 40em;
  height: 35em;
  background: linear-gradient(to bottom, rgb(235, 51, 14),#080809);
  color: #fff;
}

#informationBox2 {
  width: 40em;
  height: 35em;
  background: linear-gradient(to bottom, rgb(235, 51, 14),#080809);
  margin-top: -2em;
  color: #fff;
}

#btnBox1 {
  background-color:rgb(235, 51, 14);
  color: #fff;
  margin-left: 2em;
}


#titleMobile {
  color: #fff;
}


/* termino de los estilos de la segunda seccion*/